
.headrow{
	    height: 70px;
}
.line {
    height: 5px;
    background: #FFEE90;
}
.userInfo{
	background-color: #404040;width: 13%;height: 70px;color: white;padding: 1% !important;
}
.leftSideMenu{
	background-color: #404040;
	width:13% !important;
	padding: 0px 0;
	overflow-y: auto; 
	overflow-x: hidden;
	height: 93%;
}
.multipleOptions{
	/*padding-top: 15px !important;
    padding-bottom: 15px !important;*/
    background-color: white !important;
}
li>*{
	/*padding-left: 7%;*/
}
/*#channel{
	padding-left: 6% ;
}*/

.listbg:hover{
	box-shadow: 0 0 6px rgba(35, 173, 255, 1);
	   background-color: #333 !important;
    color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.05em;
}
.listbg{
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.05em;
	margin-bottom: 5px;
    padding: 2% 12% !important;
}
head,body{
	width: 100%; margin: 0 auto; overflow: hidden;

}
.nopadding{
	padding: 0px !important;
}
#footer {
   position: fixed;
   bottom: 0;
   width: 87%;
   min-height: 4.8em !important;
}
.listheader{
	padding: 12%;
}
.starredList{
	margin-top: 10%;
}
ui{
	padding: 0px;
	
}
.channeldiv{
	/*text-align: center;*/
	background-color: transparent;
	/*padding-bottom: 5%;*/
	padding-top: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.2em;
	
}
.channeldiv:hover{
	/*text-align: center;*/
	background-color: #383836;
	/*background-color: transparent;*/
	/*padding-bottom: 5%;*/
	padding-top: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.2em;

	
}
.Starreddiv{
	/*text-align: center;*/
	background-color: transparent;
	padding-bottom: 4%;
	padding-top: 4%;
	padding-left: 11% !important;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.2em;
	
}
.Starreddiv:hover{
	/*text-align: center;*/
	background-color: #383836;
	/*background-color: transparent;*/
	padding-bottom: 4%;
	padding-top: 4%;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.2em;
	
}
.directmsgdiv{
	/*text-align: center;*/
	background-color: transparent;
	padding-bottom: 5%;
	padding-top: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.2em;
	
}
.directmsgdiv:hover{
	/*text-align: center;*/
	background-color: #383836;
	/*background-color: transparent;*/
	padding-bottom: 5%;
	padding-top: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	letter-spacing: 0.2em;
	
}
.userProfile{
	margin-left: 70%;
}
.textinput{

	margin-left: 18px;
	width: 100%;
}
.textinput1{

	margin-left: 18px;
	width: 100%;
}
.btnadj{
    margin-top: 0.3em;
    padding-left: 0.3em;
}
.link{
	color:white;
	padding-left: 6%;
}
.link:hover{
	color:white;
	text-decoration: none;
	padding-left: 6%;
}
.directmsgList{
	margin-top: 10%;
	
}

.icon-plus {
background-color: #404040;
border-radius:8px;
-webkit-border-radius:8px;
-moz-border-radius:8px;
width: 16px;
height: 16px;
position: relative;
top:0;
left:0;
    margin-top: 3px;
}
.icon-plus:after {
background-color: #fff;
width: 8px;
height: 2px;
border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
position: absolute;
top:7px;
left: 4px;
  content:"";
      
}
.icon-plus:before {
background-color: #fff;
width: 2px;
height: 8px;
border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
position: absolute;
top:4px;
left: 7px;
  content:"";

}
.btnsend{
padding: 13px !important;
border-top-right-radius: 10px !important;
border-bottom-right-radius: 10px !important;  
border-top-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;
width: 4%;
}
.channel_title{
	font-size: 154%;
    color: #706c6c;
}
.checked {
    color: orange;
    font-size: 141% !important;
}
.divider{
	font-size: 140%;
	color: #706c6c;
}
.purposeChannel{
	font-size: 110%;
	color: #706c6c;
}
.detailsOfChannel{

}
.addChannel{
	background-color: #404040;
    color: white;
    padding: 0px !important;
}
.addChannel:active{
	background-color: #404040;
    color: white !important;;
    padding: 0px !important;
}
.likeIcon{
	font-size: 25px;
    /* padding: 7px; */
    margin-left: 55px;
    padding-right: 5px;
    margin-top: 7px;
    /* color: #5a49e3; */
}
.likeIcon:hover{
	font-size: 25px;
    /* padding: 7px; */
   margin-left: 55px;
    padding-right: 5px;
    margin-top: 7px;
    color: #5a49e3;
    cursor: pointer;
    text-align: center;
}
.dislikeIcon{
	font-size: 25px;
	padding-right: 5px;
	padding-left: 10px;
}
.dislikeIcon:hover{
	font-size: 25px;
	padding-right: 5px;
	color: #5a49e3;
	padding-left: 10px;
	cursor: pointer;
	text-align: center;
}
.replyMsgIcon{
	font-size: 140%;
    cursor: pointer;
    margin-left: 1%;
}
.replyButton{
	padding: 9px !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: -41px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.emptyChannel{
	margin-left: 37%;
    margin-top: 22%;
    opacity: 0.4;
    /* color: green; */
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.newChannel{
	color:white;
	cursor:pointer;

}
.codeDisplay{
	max-height: 20%;
}
.codeArea{
	min-height: 30%;
}
.channelHeading{
	
}
.channelFormDiv{
	padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 6%;
}
.arrowLeft{
    font-size: 230% !important;   
    margin-left: 2%;
    margin-top: 3%;
    cursor: pointer;
}


.dropbtn {
    background-color: #404040;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
   background-color: #404040;
}

.dropdown {
    position: relative;
    display: inline-block;

    z-index: 100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5%;
    padding: 10%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

/*pagination styling*/
#content{
  padding: 15px;
  border: solid 1px #eee;
  max-width: 660px;
  margin: auto;
  border-radius: 4px;
}
.myPagination{
	margin-top: 0 !important;
    margin-bottom: 0 !important;
}


/*image upload css*/

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
/*end of Image upload css*/
