<<<<<<< HEAD
.container{
	width: 30%;
	/*height: 30%;*/
	border: 3px solid #73AD21;
	padding: 1%;
	margin:0 auto;
	text-align: center;
	/*border-radius: 25px;*/

}
.loginform{
	padding: 10%;
	border: 3px solid #f1f1f1;
	border-radius: 25px;
}
.inputfield{
	width: 100%; 
	padding: .5em 1em;
	border-radius: 5px;
}
.label{
	font-size: 100%;
}
.btn{
	font-size:0.875em;
	margin:0.35em;
	border-radius: 25px;
	background-color: #4CAF50;
    color: white;
    padding: .5em .5em;
=======
/* Bordered form */

.loginform{

margin-top: 50px;
}
.center{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px sol5 #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
>>>>>>> d3fd1aa1a8a79b1035c541ce92a92c3adc5f837a
    border: none;
    cursor: pointer;
    width: 25%;
}
<<<<<<< HEAD
.btn:hover {
    opacity: 0.8;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 1px 0;
}
h3{
	margin-top: 5px;
}
img.avatar {
    width: 20%;
    border-radius: 50%;
}
=======

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 10px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 10px;
}
>>>>>>> d3fd1aa1a8a79b1035c541ce92a92c3adc5f837a
